@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
	background-color: #f2f2f2;
	margin: 0px;
	padding: 0px;
	font-family: 'Anonymous Pro', monospace;
}

h2 {
	margin: 0px;
}

.container {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 #e6e5e3;
	width: 50%;
	margin: auto;
	margin-top: 10px;
	padding: 15px;
}

.passback-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	margin-top: 20px;
	row-gap: 10px;
}

.title-container {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto;
	align-items: center;
}

.title-buttons {
	justify-self: end;
}

.title-buttons a {
	margin-left: 10px;
	text-decoration: none;
}

.key-container {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	grid-template-rows: auto;
	justify-items: stretch;
	align-items: center;
}